<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>

    <div class="login-box">
        <div class="lb-header">
            <a href="#" class="active" id="login-box-link">Login</a>
            <a href="#" id="signup-box-link">Sign Up</a>
        </div>
        <div class="social-login">
            <a href="#">
                <i class="fa fa-facebook fa-lg"></i>
                Login in with facebook
            </a>
            <a href="#">
                <i class="fa fa-google-plus fa-lg"></i>
                log in with Google
            </a>
        </div>
        <form class="email-login">
            <div class="u-form-group">
                <input type="email" placeholder="Email" id="tbUsername"/>
            </div>
            <div class="u-form-group">
                <input type="password" placeholder="Password" id="tbPassword"/>
            </div>
            <div class="u-form-group">
                <button type="button" id="btnLogin">Log in</button>
            </div>
            <div class="u-form-group">
                <a href="#" class="forgot-password">Forgot password?</a>
            </div>
        </form>
        <form class="email-signup">
            <div class="u-form-group">
                <input type="email" placeholder="Email"/>
            </div>
            <div class="u-form-group">
                <input type="password" placeholder="Password"/>
            </div>
            <div class="u-form-group">
                <input type="password" placeholder="Confirm Password"/>
            </div>
            <div class="u-form-group">
                <button id="btnRegister">Sign Up</button>
            </div>
        </form>
    </div>

    <script src="/assets/jquery/jquery-3.5.1.min.js"></script>
    <script src="/assets/js/login.js"></script>

    <script>
        const btnLogin = $('#btnLogin');

        btnLogin.on('click', () => {
            const username = $('#tbUsername').val();
            const password = $('#tbPassword').val();

            const obj = {
                username,
                password
            }

            $.ajax({
                headers: {
                    'content-type': 'application/json'
                },
                type: 'POST',
                url: 'http://localhost:9002/api/auth/login',
                data: JSON.stringify(obj)
            })
                .done((data) => {
                    location.href = '/customers'
                })
                .fail((error) => {
                    console.log(error);
                    alert('Lỗi đăng nhập')
                })
        })


    </script>
</body>
</html>